systemConf:
  proxy: xxxx # http代理地址 形如 http://192.168.0.44:7890
  port: 50008 # 允许端口
  log: info # panic, fatal, error, warn, info, debug, trace
  callBackUrl: http://127.0.0.1 # 回调地址
  msgMode: markdown # markdown 或者 text
  logConf:
    logLevel: "debug"
    logOutPutMode: console #console file both
    logOutPutPath: "./log/crop-bot-run.log"
    logFileDateFmt: "2006-01-02 15:04:05"
    logFileRotationCount: 10
    logFormatter: text # text json
gptConfig:
  apikey: xxxx # openapi key
  model: gpt-3.5-turbo # 对话模型
  UserName: xxx # 用户名
  url: https://api.openai.com/v1 # 请求基地址
weConfig:
  corpid: xxxxx # 企业id
  corpSecret: xxxxx #应用密码
  agentId: xxxx # 应用Id
  weApiRCallToken: xxxxx # 调用token
  weApiEncodingKey: xxxxx # jiami
  weChatApiAddr:  https://qyapi.weixin.qq.com # 企业微信推送api地址
